<footer id="footer" class="dark">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#" class="m-bot-20 footer-logo">
                                <img class="retina" src="img/logo.png" alt=""/>
                            </a>
                            <p>The project aims to encourage city bus operations in India’s urban transport systems. The Ministry of Urban Development (MoUD) is the Government of India, representative responsible for implementing the project.</p>
                            
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-uppercase">quick link</h5>
                            <ul class="f-list">
                                <li><a href="<%=about_path%>">About </a></li>
                                <li><a href="<%=tenders_path%>">Tenders</a></li>
                                <li><a href="#">World Bank GEF-5 Project</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="<%=contact_path%>">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-uppercase">More</h5>
                            <ul class="f-list">
                                <li><a href="<%=brts_path%>">BRTS</a></li>
                                <li><a href="<%=gallery_path%>">Gallery</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-uppercase">Gallery</h5>
                            <ul class="r-work">
                                <li>
                                    <a href="#"><img src="img/pic01.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic02.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic03.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic04.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic05.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic06.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic07.jpg" alt=""/></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/pic08.jpg" alt=""/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="m-top-10">Copyright 2015 Creative Company | All Rights Reserved</span>
                        </div>
                        <div class="col-md-6">
                            <div class="social-link circle pull-right">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>